/* .buttons {
    width: 68vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 50%;
} */

.buttons {
    background-color: #b5ddfb5d;
    width: 125vh;
    border-radius: 8px;
    margin-bottom: 10px;
}


.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #f0f0f0;
    max-width: 125vh;
    margin: 0 auto;
    margin-top: 2vh;
    height: 88vh;
}

@media (max-width: 768px) {
    .buttons {
        width: auto;
    }
}