body {
    display: flex;
    flex-direction: column;
    min-height: 135vh;
}

/* Header elements */
.user-header-div {
    background-color: #E2E2D8;
    height: 8vh;
    padding: 2vh;
    border: 1px solid rgba(192, 192, 192, 0.178);
}

.user-header-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

#user-icon {
    max-height: 6vh;
    width: auto;
    user-select: none;
}

#username-element {
    font-family: 'Inter', sans-serif;
    color: #3d3d3d;
    font-size: 2.8vh;
    margin-left: 3vh;
}

#preferences-div {
    margin-left: auto;
}

#preferences-header {
    color: #3d3d3d;
    font-size: 3vh;
    font-weight: 500;
    transform: translateY(15%);
}

.preferences-elements {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #3d3d3d;
    font-size: 2vh;
    white-space: nowrap;
    user-select: none;
}

.indexes {
    flex: 1;
    margin-right: 1vh;
}

/* Pomodoro chart */
.pomodoro-chart-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400vh;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#pomodoro-chart {
    margin-top: 2vh;
    height: 40vh;
    width: 30vh;
}

/* Flashcards display and selection */
.title-label {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 3.2vh;
    color: #383838d3;
    line-height: 1;
    text-align: center;
    padding-top: 1vh;
    margin-top: 3vh;
    user-select: none;
}

.select-container {
    text-align: center;
    margin-top: 2vh;
}

.flashcards-select {
    margin: 0 auto;
    width: 85%;
}

.flashcards-select:focus {
    border-color: rgba(180, 180, 180, 0.397);
    box-shadow: 0 0 0 0.2rem #b5ddfb8f;
}

.flashcards-select:hover option:hover {
    background-color: #577E99;
    /* background-color: #b5ddfb8f; */
}

#flashcards-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}

.flashcard-element-ul {
    align-items: center;
}

.flashcard-element {
    margin-top: 3vh;
    background-color: #F1F1E6;
    width: 85%;
}

#flashcard-ratings-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
    margin-right: auto;
    margin-left: auto;
    width: 94%;
}

.flashcard-ratings {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    user-select: none;
}

.rating-label {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 2.4vh;
    margin-bottom: 0.5vh;
    margin-top: 3.8vh;
    user-select: none;
}

/* Ratings color palette */
.very-easy-color {
    color: #198754;
}

.easy-color {
    color: #0d6efd;
}

.medium-color {
    color: #ffc107;
}

.hard-color {
    color: #dc3545;
}

.very-hard-color {
    color: #212529;
}

@media screen and (max-width:768px) {
    .pomodoro-chart-container {
        width: auto;
        height: 45vh;
        max-width: 100%;
        max-height: 100%;
    }

    #pomodoro-chart {
        height: 45vh;
        width: auto;
    }
}
