/* General elements */
body {
    display: flex;
    flex-direction: column;
    min-height: 160vh;
}

.title-label {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 3.2vh;
    color: #383838d3;
    line-height: 1;
    text-align: center;
    padding-top: 1vh;
    margin-top: 3vh;
    user-select: none;
}

/* Header elements */
.user-header-div {
    background-color: #E2E2D8;
    height: 8vh;
    padding: 2vh;
    border: 1px solid rgba(192, 192, 192, 0.178);
}

.user-header-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

#user-icon {
    max-height: 6vh;
    width: auto;
    user-select: none;
}

#username-element {
    font-family: 'Inter', sans-serif;
    color: #3d3d3d;
    font-size: 2.8vh;
    margin-left: 3vh;
}

#preferences-div {
    margin-left: auto;
}

.preferences-elements {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #3d3d3d;
    font-size: 2vh;
    white-space: nowrap;
    user-select: none;
}

.indexes {
    flex: 1;
    margin-right: 1vh;
}

/* Pomodoro chart */
.pomodoro-chart-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400vh;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#pomodoro-chart {
    margin-top: 2vh;
    height: 40vh;
    width: 30vh;
}

/* Flashcards select */
.select-container {
    text-align: center;
    margin-top: 2vh;
}

.flashcards-select {
    margin: 0 auto;
    width: 85%;
}

.flashcards-select:focus {
    border-color: rgba(180, 180, 180, 0.397);
    box-shadow: 0 0 0 0.2rem #b5ddfb8f;
}

.flashcards-select:hover option:hover {
    background-color: #577E99;
}

/* Flashcard data display */
#flashcards-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}

.flashcard-element-ul {
    align-items: center;
}

.flashcard-element {
    margin-top: 3vh;
    background-color: #F1F1E6;
    width: 85%;
}

#flashcard-ratings-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
    margin-right: auto;
    margin-left: auto;
    width: 94%;
}

.flashcard-ratings {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    user-select: none;
}

.rating-label {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 2.4vh;
    margin-bottom: 0.5vh;
    margin-top: 3.8vh;
    user-select: none;
}

/* Ratings color palette */
.very-easy-color {
    color: #198754;
}

.easy-color {
    color: #0d6efd;
}

.medium-color {
    color: #ffc107;
}

.hard-color {
    color: #dc3545;
}

.very-hard-color {
    color: #212529;
}

/* Delete progress dialogs */
.delete-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 60%;
    transform: translate(-50%, -50%);
    background-color:#ffffff;
    border-radius: 4px;
    border: 1px solid rgba(192, 192, 192, 0.582);
    padding: 20px;
    z-index: 999;
}

.dialog-title {
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 3.2vh;
    color: #383838d3;
    line-height: 1;
    text-align: center;
    padding-top: 1vh;
    user-select: none;
}

.dialog-thematic-break {
    margin-top: 3.5vh;
    margin-bottom: 0;
}

.close-button {
    border: none;
    background: transparent;
    padding: 0;
}

.close-button-icon {
    position: absolute;
    width: 3vh;
    height: 3vh;
    margin: 10px;
    top: 2vh;
    right: 2vh;
    max-width: 30%;
    max-height: 30%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirm-buttons {
    margin-top: 2vh;
}

.input-names {
    display: flex;
    flex-direction: row;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 1.8vh;
    color: #383838d3;
    margin: 2px;
}

#dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

#confirm-button-div {
    justify-content: center;
}

#confirm-delete-button {
    justify-content: center;
    margin-top: 3vh;
    width: 75%;
    border: none;
}

/* Delete buttons div */
.delete-data-div {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 7vh;
}

.delete-buttons {
    height: 7vh;
    width: 18vh;
    margin-right: 6vh;
    margin-left: 6vh;
}

@media screen and (max-width:768px) {
    #username-element {
        font-size: 2.6vh;
        margin-left: 2vh;
    }

    .preferences-elements {
        font-size: 1.4vh;
    }
    
    .indexes {
        margin-right: -2vh;
    }

    .pomodoro-chart-container {
        width: auto;
        height: 45vh;
        max-width: 100%;
        max-height: 100%;
    }

    #pomodoro-chart {
        height: 45vh;
        width: auto;
    }

    .delete-buttons {
        height: 16vh;
        width: 18vh;
        margin-right: 4vh;
        margin-left: 4vh;
    }

    .delete-data-div {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 4vh;
    }
}
