{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

<link rel="stylesheet" href="/static/css/about.css">

<div class="container">
    <div class="main-text">
        <h1 class="font-weight-bold">The importance of learning</h1>
        <p>Not only is of great importance the fact that etc was done while being true about</p>
        <p>while we were waiting for people to arrive but also because my headset is garbage and i cant go</p>
        <p>farther because it starts to suck me back into the shadow realm of its mere existence.</p>
    </div>
</div>
{% endblock %}
