{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="/static/css/about.css">

    <div class="container">
        <div class="main-text">
            <h1 class="font-weight-bold">Overview</h1>
            <p>The website provides the user with resources and tools to two different learning and practicing</p>
            <p>techniques. Those being the <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro technique</a>
            and the <a href="https://en.wikipedia.org/wiki/Flashcard">Flashcards technique</a>. Aswell as a simple</p>
            <p>history of user actions to track progress of their use of these tools.</p>
            <br>

            <p>It serves as an facilitator to engage in these techniques by eliminating the need of setting up a</p>
            <p>timer manually aswell as writing the flashcards yourself. It mainly provides their core aspects,</p>
            <p>serving as a building block, but it has room for improvements and more features.</p>

            <h2 class="font-weight-bold">How to take the most of these features?</h2>
            <p>It's advisable that the user is familiar with both of these techniques and for such there is many</p>
            <p>free resources available online, not only on these specific techniques but in learning as a whole.</p>
            <p>Some of them include the <a href="coursera.org">coursera</a> courses but not limited to those:</p>
            <br>
            <ul>
                <li><a href="https://www.coursera.org/learn/learning-how-to-learn">"Learning how to Learn"</a></li>
                <br>
                <br>
                <li><a href="https://www.coursera.org/learn/mindshift">"Mindshift"</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
