<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Inclusive+Sans&display=swap">
    <link rel="stylesheet" href="../static/js/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/error.css">

    <title>{% block title %}{% endblock %}</title>

    </head>

<body>
    <nav class="navbar bg-navy" id="navbar">
        <div class="container-fluid">
            <a class="navbar-elements navbar-brand" href="/" >
                <img src="../static/images/logo-inverse.png" id="navbar-logo"> 
                </a>
            {% block element %}{% endblock %}
        </div>
    </nav>
    
    <main>
        <!-- <div class="body-container"> -->
        <h1 id="error-title">Something went wrong!</h1>
        
        <div class="message">
            <p>The server responded with the status code <span style="font-weight: bold; color: #01849A;">{{ status_code }}</span>.</p>
            <p>{{ message }}</p>
            <a href="#" onclick="goBack()">Go back to the previous page</a>
        </div>
    </main>

    <!-- Send user to previous page -->
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>
