{% extends "layout.html" %}

{% block title %}
    Flash Cards
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="../static/css/flashcards.css">

    <div id="flashcards" class="buttons-container">
        {% if flashcards %}
            {% for flashcard in flashcards %}
                <ul class="list-group buttons">
                    <div class="flashcard-buttons">
                        <button class="edit-button" type="button">
                            <img class="edit-icon" src="../static/images/edit-icon.png">
                        </button>
                        
                        <button class="delete-button">
                            <img class="delete-icon" src="../static/images/delete-icon.png"> 
                        </button>
                    </div>
                    
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start buttons">
                        <div class="flashcard-id" style="display: none;">{{ flashcard["flashcard_id"] }}</div>
                            <div class="answer" style="display: none;">{{ flashcard["answer"] }}</div>
                            <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1 flashcard-topic">{{ flashcard["topic"] }}</p>
                            <small>Last visited {{ flashcard["time_ago"] }} days ago</small>
                        </div>
                        <h4 class="mb-1 flashcard-question">{{ flashcard["question"] }}</h4>
                        <small class="flashcard-timestamp">{{ flashcard["timestamp"] }}</small>
                    </a>
                </ul>
            {% endfor %}

        {% else %}
            <div id="no-flashcards-div">
                <h1 id="no-flashcards-message">You currently don't have any flashcards! Click the button below to create one.</h1>
            </div>
            
        {% endif %}

        <div id="add-button-div" class="container-fluid">
            <button id="create-flashcard-button">
                <img id="add-icon" src="../static/images/add-icon.png" alt="Image">
            </button>
        </div>
    </div>

    <!-- Create flashcard dialog -->
    <div id="dialog-overlay" style="display: none;"></div>

    <div class="container" id="new-flashcard-dialog" style="display: none;">
        <form>
            <div id="settings-text">New Flashcard</div>
            <hr id="settings-thematic-break">

            <!-- Exit button -->
            <button id="close-button" type="submit">
                <img src="../static/images/close-button.png" alt="Button Image" id="close-button-icon">
            </button>

            <!-- User input area -->
            <div class="input-container" id="inputs">
                <label class="input-labels" for="topic-input">Topic</label>
                <input autocomplete="off" id="topic-input" class="create-flashcard-input">
                
                <label class="input-labels" for="question-input">Question</label>
                <input autocomplete="off" id="question-input" class="create-flashcard-input">

                <label class="input-labels" for="answer-input">Answer</label>
                <input autocomplete="off" id="answer-input" class="create-flashcard-input">
            </div>
        </form>
    </div>

    <div id="flashcard-page" style="display: none;">
        <form id="flashcard-form" class="form-container">
            <div id="topic">Music</div>
            <h1 id="question">Testing flashcards?</h1>   
            <input autocomplete="off" autofocus class="form-control" id="answer" name="username" placeholder="Answer" type="text" required>
            <button id="submit-button" class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div id="flashcard-feedback" style="display: none">
        <form id="feedback" class="form-container">
            <h1 id="answer-header">Your answer:</h1>
            <div id="user-answer">User answer</div>
            <h2 id="user-answer-header">Flashcard answer:</h2>
            <div id="flashcard-answer">Answer</div>

            <div id="buttons-div">
                <button id="easy-button" value="easy" class="btn btn-outline-primary">Easy</button>
                <button id="very-easy-button" value="very-easy" class="btn btn-outline-success">Very Easy</button>
                <button id="medium-button" value="medium" class="btn btn-outline-warning">Medium</button>
                <button id="hard-button" value="hard" class="btn btn-outline-danger">Hard</button>
                <button id="very-hard-button" value="very-hard" class="btn btn-outline-dark">Very Hard</button>
            </div>
        </form>
    </div>

    <script src="../static/js/node_modules//jquery/dist/jquery.min.js"></script>
    <script src="../static/js/flashcards/flashcards.js"></script>
    <script src="../static/js/flashcards/createFlashcards.js"></script>

{% endblock %}
