{% extends "layout.html" %}

{% block title %}
    Flash Cards
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="../static/css/flashcards.css">


    <div class="buttons-container">
        <ul class="list-group">
            <div class="buttons">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start buttons">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
            </div>
        </ul>

        <ul class="list-group buttons">
            <div class="buttons">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start buttons">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
            </div>
        </ul>
    </div>

    <!-- Flashcards and question answer behaviour -->
    <div id="flashcards" style="display: none;">
        <div class="body-container">

        </div>
    </div>


{% endblock %}
