<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Include Bootstrap's CSS -->
        <link rel="stylesheet" href="/static/js/node_modules/bootstrap/dist/css/bootstrap.min.css">

        <!-- Include Bootstrap's Js -->
        <script src="/static/js/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Including zxcvbn to check password security -->
        <script src="../static/js/node_modules/zxcvbn/dist/zxcvbn.js"></script>

        <!-- Linking fonts -->

        <!-- Inter -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
            
        <!-- Inclusive Sans -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap" rel="stylesheet">

        <!-- Link external styling file -->
        <link rel="stylesheet" href="../static/css/register.css">

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>
        <nav class="navbar bg-navy" id="navbar">
            <div class="container-fluid">
                {% block element %}{% endblock %}
            </div>
        </nav>
        
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
