{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="../static/css/index.css">

    <div class="container-fluid user-header-div">
        <div class="user-header-content">
            <img src="../static/images/user-icon-lg.png" id="user-icon">
            <h1 id="username-element">John</h1>
        </div>
    </div>

    <div class="container pomodoro-chart-container">
       <canvas id="pomodoro-chart"></canvas> 
    </div>

    <script src="../static/js/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../static/js/node_modules/chart.js/dist/chart.umd.js"></script>
    <script src="../static/js/index/index.js"></script>
{% endblock %}
