{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="../static/css/index.css">

    <div class="container-fluid user-header-div">
        <div class="user-header-content">
            <img src="../static/images/user-icon-lg.png" id="user-icon">
            <h1 id="username-element">{{ user_data.username }}</h1>

            <div id="preferences-div">
                <div class="row preferences-elements">
                    <div class="col-sm indexes">
                        <div>Finished Pomodoros</div>
                        <div>{{ user_data.user_stats.pomodoros_finished }}</div>
                    </div>

                    <div class="col-sm indexes">
                        <div>Finished flashcards</div>
                        <div>{{ user_data.user_stats.flashcards_finished }}</div>
                    </div>

                    <div class="col-sm indexes">
                        <div>Flashcards Amount</div>
                        <div id="pomodoro-break-index">{{ user_data.user_stats.flashcards_count }}</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div>
        <div class="title-label">Pomodoro Chart</div>
        <div class="container pomodoro-chart-container">
            <canvas id="pomodoro-chart"></canvas> 
        </div>
    </div>
    

    {% if user_data.user_flashcards %}
        <div class="title-label">Flashcards</div>
        <div class="select-container">
            <select class="form-select flashcards-select" id="flashcards-select">
                <option selected disabled>Flashcards</option>
                {% for flashcard in user_data.user_flashcards %}
                    <option value="{{ flashcard.flashcard_id }}">{{ flashcard.question }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="flashcard-element-ul" id="flashcard-data" style="display: none;">
            <ul class="list-group flashcard-element-ul">
                <div class="list-group-item flex-column align-items-start buttons flashcard-element">
                    <div class="d-flex w-100 justify-content-between">
                        <p id="flashcard-topic"></p>
                        <small id="flashcard-timestamp"></small>
                    </div>
                    <h4 class="mb-1" id="flashcard-question"></h4>
                    <small id="flashcard-answer"></small>
                </div>
            </ul>
        </div>

        <div class="row" id="flashcard-ratings-div" style="display: none;">
            <div class="col-sm flashcard-ratings very-easy-color">
                <div class="rating-label">Very Easy</div>
                <div id="very-easy-count">0</div>
            </div>

            <div class="col-sm flashcard-ratings easy-color">
                <div class="rating-label">Easy</div>
                <div id="easy-count">0</div>
            </div>

            <div class="col-sm flashcard-ratings medium-color">
                <div class="rating-label">Medium</div>
                <div id="medium-count">0</div>
            </div>

            <div class="col-sm flashcard-ratings hard-color">
                <div class="rating-label">Hard</div>
                <div id="hard-count">0</div>
            </div>

            <div class="col-sm flashcard-ratings very-hard-color">
                <div class="rating-label">Very Hard</div>
                <div id="very-hard-count">0</div>
            </div>
        </div>
    {% endif %}
    

    <script src="../static/js/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../static/js/node_modules/chart.js/dist/chart.umd.js"></script>
    <script src="../static/js/index/index.js"></script>
{% endblock %}
