{% extends "layout.html" %}

{% block title %}
    Pomodoro Timer
{% endblock %}

{% block main %}
    <link rel="stylesheet" href="../static/css/pomodoro.css">
    
    <div id="timer-minutes" style="display: none;">{{ minutes }}</div>
    <div id="timer-break" style="display: none;">{{ timer_break }}</div>
    <div id="timer-long-break" style="display: none;">{{ long_break }}</div>

    <div class="container timer-container">
        <div class="timer-box">
            <button id="settings-button" type="button">
                <img src="../static/images/settings-icon.png" alt="Button Image" id="settings-icon">
            </button>
            <div id="timer">{{ minutes }}:00</div>
            <button class="btn btn-light" id="start-button">Start</button>
        </div>

        <audio id="button-sound">
            <source src="../static/audio/button_press.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>

        <audio id="timeup-sound">
            <source src="../static/audio/time_up.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

    <div id="dialog-overlay" style="display: none;"></div>

    <div class="container" id="settings-dialog" style="display: none;">
        <form>
            <div id="settings-text">Settings</div>
            <hr id="settings-thematic-break">

            <button id="close-button" type="submit">
                <img src="../static/images/close-button.png" alt="Button Image" id="close-button-icon">
            </button>

            <div class="inputs-row-container" id="inputs">
                <div class="column-container">
                    <label class="input-names" for="minutes-input">Minutes</label>
                    <input autocomplete="off" value="{{ user_preferences.minutes }}" class="settings-input" name="minutes" type="number" 
                    id="minutes-input" min="1" pattern="[1-9][0-9]*" title="Please enter a valid positive integer for minutes.">
                </div>

                <div class="column-container">
                    <label class="input-names" for="break-input">Break</label>
                    <input autocomplete="off" value="{{ user_preferences.timer_break }}" class="settings-input" name="break" type="number" 
                    id="break-input" min="1">
                </div>

                <div class="column-container">
                    <label class="input-names" for="long-break-input">Long break</label>
                    <input autocomplete="off" value="{{ user_preferences.long_break }}" class="settings-input" name="long-break" type="number" 
                    id="long-break-input" min="1">
                </div>

                <div class="column-container">
                    <label class="input-names" for="lb-interval-input">Long break Interval</label>
                    <input autocomplete="off" value="{{ user_preferences.lb_interval }}" class="settings-input" name="lb-interval-input" 
                    type="number" id="lb-interval-input" min="1">
                </div>
            </div>
        </form>
    </div>

    <script src="../static/js/node_modules//jquery/dist/jquery.min.js"></script>
    <script src="../static/js/pomodoro/pomodoro.js"></script>
    <script src="../static/js/pomodoro/settings.js"></script>
    <script src="../static/js/pomodoro/initPomodoroPage.js"></script>
{% endblock %}
