<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Include Bootstrap's CSS -->
        <link rel="stylesheet" href="/static/js/node_modules/bootstrap/dist/css/bootstrap.min.css">

        <!-- Include Bootstrap's Js -->
        <script src="/static/js/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/static/js/node_modules/bootstrap/dist/css/bootstrap.min.css">

        <!-- Including zxcvbn to check password security -->
        <script src="../static/js/node_modules/zxcvbn/dist/zxcvbn.js"></script>

        <title>Register</title>

        <!-- Linking fonts -->

        <!-- Inter -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
            
        <!-- Inclusive Sans -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap" rel="stylesheet">

        <!-- Linking external files -->
        <link rel="stylesheet" href="../static/css/register.css">
        <script src="../static/js/register/register.js"></script>

    </head>

    <body>
        <nav class="navbar bg-navy" id="navbar"></nav>
        <form action="/register" method="post">
            <div class="body-container">
                <div id="register-title">Register</div>

                <!-- Element to check password strength -->
                <div id="password-index" style="display: none;">Strong</div>

                <div class="input-form">
                    <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">

                    <input autocomplete="off" class="form-control" id="password" name="password" 
                    placeholder="Password" type="password" oninput="checkPassword()">

                    <input autocomplete="off" class="form-control" id="cf_password" name="cf_password" 
                    placeholder="Confirm Password" type="password">
                </div>
            </div>
        </form>
    </body>
</html>
