{% extends "form_layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block element %}
    <a class="navbar-elements navbar-brand" href="/login">Login</a>
{% endblock %}

{% block main %}
    <form id="register-form" action="/register" method="post" onsubmit="return checkInputs()">
        <div class="body-container">
            <div id="form-title">Register</div>
            <!-- Element to check password strength -->
            <div id="password-index" style="display: none;">Strong</div>

            <div class="input-form">
                <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text" required>
                <input autocomplete="off" class="form-control" id="password" name="password" placeholder="Password" type="password" required>
                <input autocomplete="off" class="form-control" id="confirm-password" name="confirm_password" 
                placeholder="Confirm Password" type="password" required>
            </div>
            <button class="btn btn-primary" id="submit-button" type="submit">Submit</button>
        </div>
    </form>

    <script src="../static/js/register/register.js"></script>
{% endblock %}
